body{
    background-color: black;
}

.image-gallery {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


.image-container {
    /* margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center; */
    display: flex;
   justify-content: center;
   align-items: flex-start;
  }

  .image-container img {
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }

.slideinactive{
    max-width: 20%;
    min-width: 20%;
    height: 600px;
    transition: all 0.3s ease-in-out;
}

/* .image-expander {
    position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
  /* } */

  .image-container img:last-child {
    margin-right: 0;
  }

.enlarged {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }